<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
 	<meta charset="utf-8">
	<title>应帮帮1.11个人中心</title>
	<script src={%  static "js/jquery.min.js"%}></script>
	<script src={%  static "js/bootstrap.min.js"%}></script>
    <script src={%  static "js/biubiuhead.js"%}></script>
    	<link rel="stylesheet" href={% static "css/bootstrap.min.css"%}>
	<link rel="stylesheet" href={% static "css/login.css" %}>

</head>
<body onload="getNowDate()">


<ul class="list-inline">
		<li><div class="left">
			<div class="logo"><a data-ajax href="../" ><img class="navbar-logoInner" src={% static "images/ybb_logo.png" %} href="../"></a></div></div>
		</li>
		<li><div class="middle">
<form class="form-search">
<input class="input-medium search-query"  id="search_input" type="text" style="border-radius: 10px" /> <button type="submit" class="btn" id="search_button">查找</button>
			</form>
		</div></li>
		</li>
		<li><div class="right">



	<li class="navbar-loginButton"><span class="btn" data-toggle="modal" data-target="#myModal"> 登录</span><a class="btn"  href="/res/" style="color: #333">注册</a></li>



		</div></li>
	<li class="fl"><span id="dateinfo"></span>
	</li>
</ul>

<nav class='navbar navbar-default' role='navigation'>
	<div class='container-fluid'>
	<div>
		<ul class='nav navbar-nav'>

		<li><a href='../'>主页</a></li>


			<li  class='active'><a href='/userpage/'>个人中心</a></li>

			<li><a href='/shop/'>应城</a></li>

			<li><a href='/bbs/'>论坛</a></li>
			<li class='dropdown'>
				<a href='#' class='dropdown-toggle' data-toggle='dropdown'>
					更多
					<b class='caret'></b>
				</a>
				<ul class='dropdown-menu'>
					<li><a href='#'>更多1</a></li>
					<li><a href='#'>更多2</a></li>
					<li><a href='#'>更多3</a></li>
					<li class='divider'></li>
					<li><a href='#'>好友招募</a></li>
					<li class='divider'></li>
					<li><a href='#'>本站说明</a></li>
				</ul>
			</li>
		</ul>
	</div>
	</div>
</nav>




<div class='modal fade' id='myModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
                <div class='modal-dialog'>
                    <div class='modal-content'>
                        <div class='modal-header'>
                            <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>
                  ×
            </button>
                            <h4 class='modal-title' id='myModalLabel'>
                登录
            </h4>
                        </div>
                        <div class='modal-body'>






<div class='login_frame'>
<div class='login_frame_content'>
<div class='form-group'><input type='text' id='user-inputUsername' value='' placeholder='用户名'></div>
<div class='form-group'><input type='password' id='user-inputPassword' value='' placeholder='密码'></div>

<div class='form_other'>
  <div class='user_inputWarning'></div>
  <div class='checkbox'>
    <label class='small'>
      <input id='login_state' type='checkbox' checked='checked'>记住登录状态</label></div>





</div>

 <button id='user-inputlogin'   class='loginBtn'>登录</button>


</div>
</div>








                        </div>

</div>
</div>
</div>




















<div>
    <ul class="breadcrumb eye-protector-processed" style="font-size:20px">
				<td>
					欢迎回来
				</td>
				<li>
					<a href=/userpage/>个人信息</a> <span class="divider">/</span>
				</li>
				<li>
					<a href="">密码更改</a> <span class="divider">/</span>
				</li>
				<li>
					<a href="/userpage2/">头像设置</a> <span class="divider">/</span>
				</li>
			</ul>
    <div style="width:100%; height:auto;margin:0px auto;">
    <div style="position:absolute;left:40%;right:40%;">
<div class="input-group" style="font-size:30px" >
			<label class="input-label"><b class="eye-protector-processed" style="border-color: rgba(0, 0, 0, 0.35); color: rgb(0, 0, 0);">*</b>当前密码</label>
			<input id="oldPassword" type="password" class="input-text eye-protector-processed" style="border-color: rgba(0, 0, 0, 0.35);border-radius:6px">
			<span class="public-tip"><i class="icon-mark error-mark"></i></span>
			<br>
			</br>
		</div>
<div class="input-group" style="font-size:30px" >
			<label class="input-label"><b class="eye-protector-processed" style="border-color: rgba(0, 0, 0, 0.35); color: rgb(0, 0, 0);">*</b>新的密码</label>
			<input id="newPassword" maxlength="18" type="password" class="input-text eye-protector-processed" style="border-color: rgba(0, 0, 0, 0.35);border-radius:6px">
			<label>请输入6-18个字符</label>
			<br>
			</br>
		</div>
<div class="input-group" style="font-size:30px" >
			<label class="input-label"><b class="eye-protector-processed" style="border-color: rgba(0, 0, 0, 0.35); color: rgb(0, 0, 0);">*</b>确认密码</label>
			<input id="newPassword2" maxlength="18" type="password" class="input-text eye-protector-processed" style="border-color: rgba(0, 0, 0, 0.35);border-radius:6px">
			<span class="public-tip"><i class=""></i></span>
						<br>
			</br>			
		</div>
        <div class="view" style="margin-left:20px">
                <button  id="savePassword" class="newBtn"   >保存</button>
              </div>
        </div>
    </div>


<script type="text/javascript">
$(function(){
	$("#oldPassword").blur(function(){
		var op = $("#oldPassword").val();
		//var oph = $("#oldPasswordHide").val();
		$.ajax({
			type:"post",
			url:CONTEXTPATH+"/portal/comparePasswd.mooc",
			data:{
				srpwd:op
			},
			success:function(response){
				if (response.returnCode=='success'){
					$("#oldPassword").parent().children("span.public-tip").children("i").removeClass().addClass("icon-mark right-mark");
				}
				else{
					$("#oldPassword").parent().children("span.public-tip").children("i").removeClass().addClass("icon-mark error-mark");
				}
			},
			error:function(){

			}
		});

	});

	$("#newPassword").bind("input propertychange",function(){
		var opn = $("#newPassword").val();
        if (opn.length > 0) {
            $(".p-pwd-set .psw-tip .psw-tip-text").show();
            $(".p-pwd-set .psw-tip .icon-strength").show();
        } else {
            $(".p-pwd-set .psw-tip .psw-tip-text").hide();
            $(".p-pwd-set .psw-tip .icon-strength").hide();
        }
		if (opn.length >=6)
		{
			var modes = checkStrong(opn);
			if (modes == 1){
				$("#newPassword").parent().children("div.psw-tip").removeClass("normal middle strong").addClass("normal");
			}
			if (modes == 2){
				$("#newPassword").parent().children("div.psw-tip").removeClass("normal middle strong").addClass("middle");
			}
			if (modes >= 3){
				$("#newPassword").parent().children("div.psw-tip").removeClass("normal middle strong").addClass("strong");
			}
		}
	});

	$("#newPassword2").blur(function(){
		var opn2 = $("#newPassword2").val();
		var opn = $("#newPassword").val();
		if (opn.length < 6 || opn2.length < 6){
			$.dialog.error(Msg.get("userSet.password.length.less"));
		}
		else if (opn != opn2)
		{
			$.dialog.error(Msg.get("userSet.password.not.same"));
			$("#newPassword2").parent().children("span.public-tip").children("i").removeClass().addClass("icon-mark error-mark");
		}
		else{
			$("#newPassword2").parent().children("span.public-tip").children("i").removeClass().addClass("icon-mark right-mark");
		}
	});

	$("#savePassword").click(function(){
		var op = $("#oldPassword").val();
		var opn2 = $("#newPassword2").val();
		var opn = $("#newPassword").val();
		if (op==null || op==""){
			$.dialog.error(Msg.get("userSet.password.current.error"));
			return;
		}
		if (opn==null || opn2==""){
			$.dialog.error(Msg.get("userSet.password.new.empty"));
			return;
		}
		if (opn != opn2){
			$.dialog.error(Msg.get("userSet.password.not.same"));
			return;
		}
		if (opn.length < 6 || opn2.length < 6){
			$.dialog.error(Msg.get("userSet.password.length.less"));
			return;
		}
		var modulus = $("#modulus").val();
		var exponent = $("#exponent").val();
		setMaxDigits(130);
		var key = new RSAKeyPair(exponent, "", modulus);
		var strOldPass = encryptedString(key, op);
		var strNewPass = encryptedString(key, opn);

		$.ajax({
			type:"post",
			url:CONTEXTPATH+"/portal/save/password.mooc",
			dataType:"json",
			data:{
				strOldPass: strOldPass,
				strNewPass:strNewPass
			},
			success:function(response){
				if (response.errorMsg){
					$.dialog.error(response.errorMsg);
				}
				else{
					$.dialog.success( Msg.get("userSet.password.success"));
				}
			},
			error:function(){

			}
		});
	});


});
</script>
</div>
</body>
</html>
