.wenxinframe{
margin-left:15px;
height:140px;
}
.wenxintu{
positon:realtive;
width:140px;
height:140px;
background:#ffffff;
}
.wenxinzi{
width:280px;
height:140px;
background:#ffffff;
}
.wenxintu > img{
width:140px;
heighr:140px;
}

.wenxinframebig{
margin-left:15px;
height:150px;
}
.xuanxiang{
width:700px;
height:140px;
background:#ffffff;
}
.wenxintishi{

height:140px;
background:#ffffff;
}