{% extends 'head.html' %}
{% load staticfiles %}




{% block content %}
    <link rel="stylesheet" href={% static "css/bbs.css" %}>












	
	
	
<div class="shop_frame">
<ul class="list-inline">

<li>
<button class="bbs_frame_content" href="">
<img src={% static "images/black_shop.jpg"%}>
<div class="wenzi">
<div class="text" style="text-align:center;">
类别
</div>
</div>
</button>
</li>
<li>
<button class="bbs_frame_content" href="">
<img src={% static "images/black_shop.jpg"%}>
<div class="wenzi">
<div class="text" style="text-align:center;">
类别
</div>
</div>
</button>
</li>
<li>
<button class="bbs_frame_content" href="">
<img src={% static "images/black_shop.jpg"%}>
<div class="wenzi">
<div class="text" style="text-align:center;">
类别
</div>
</div>
</button>
</li>
<li>
<button class="bbs_frame_content" href="">
<img src={% static "images/black_shop.jpg"%}>
<div class="wenzi">
<div class="text" style="text-align:center;">
类别
</div>
</div>
</button>
</li>
<li>
<button class="bbs_frame_content" href="">
<img src={% static "images/black_shop.jpg"%}>
<div class="wenzi">
<div class="text" style="text-align:center;">
类别
</div>
</div>
</button>
</li>
<li>
<button class="bbs_frame_content" href="">
<img src={% static "images/black_shop.jpg"%}>
<div class="wenzi">
<div class="text" style="text-align:center;">
类别
</div>
</div>
</button>
</li>
<li>
<button class="bbs_frame_content" href="">
<img src={% static "images/black_shop.jpg"%}>
<div class="wenzi">
<div class="text" style="text-align:center;">
类别
</div>
</div>
</button>
</li>
<li>
<button class="bbs_frame_content" href="">
<img src={% static "images/black_shop.jpg"%}>
<div class="wenzi">
<div class="text" style="text-align:center;">
类别
</div>
</div>
</button>
</li>
<li>
<button class="bbs_frame_content" href="">
<img src={% static "images/black_shop.jpg"%}>
<div class="wenzi">
<div class="text" style="text-align:center;">
类别
</div>
</div>
</button>
</li>
<li>
<button class="bbs_frame_content" href="">
<img src={% static "images/black_shop.jpg"%}>
<div class="wenzi">
<div class="text" style="text-align:center;">
类别
</div>
</div>
</button>
</li>
</ul>
</div>


<div class="accordion" id="accordion-961638">
				<div class="accordion-group">
					<div class="accordion-heading">
						 <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-961638" href="#accordion-element-200632">
						 <div class="card_frame">
							<ul class="list-inline"> 
							 <li class="card_img"><img src={% static "images/black_shop.jpg"%}></li>
							 <li class="card_username"><div class="text">证件远</div></li>
							 <li><div calss="card_title"><div class="card_title2">我想要应！！！！！！</div></div></li>
							 <li><div class="card_xuanshang"><div class="text">5yb</div></div></li>
							 </ul>
							 </div>
						 
						 
						 
						 </a>
					</div>
					<div id="accordion-element-200632" class="accordion-body collapse">
						<div class="accordion-inner">
							 <div class="yingzhe_frame">
							<ul class="list-inline"> 
							 <li class="yingzhe_img"><img src={% static "images/yellow_shop.jpg"%}></li>
							 <li class="yingzhe_username"><div class="text">证件远</div></li>
							 <li><div calss="yingzhe_respond"><div class="card_title2">我想要应！！！！！！</div></div></li>
							 </ul>
							 </div>
							  <div class="yingzhe_frame">
							<ul class="list-inline"> 
							 <li class="yingzhe_img"><img src={% static "images/yellow_shop.jpg"%}></li>
							 <li class="yingzhe_username"><div class="text">证件远</div></li>
							 <li><div calss="yingzhe_respond"><div class="card_title2">我想要应！！！！！！</div></div></li>
							 </ul>
							 </div>
							  <div class="yingzhe_frame">
							<ul class="list-inline"> 
							 <li class="yingzhe_img"><img src={% static "images/yellow_shop.jpg"%}></li>
							 <li class="yingzhe_username"><div class="text">证件远</div></li>
							 <li><div calss="yingzhe_respond"><div class="card_title2">我想要应！！！！！！</div></div></li>
							 </ul>
							 </div>
							  <div class="yingzhe_frame">
							<ul class="list-inline"> 
							 <li class="yingzhe_img"><img src={% static "images/yellow_shop.jpg"%}></li>
							 <li class="yingzhe_username"><div class="text">证件远</div></li>
							 <li><div calss="yingzhe_respond"><div class="card_title2">我想要应！！！！！！</div></div></li>
							 </ul>
							 </div>
							 <ul class="list-inline">
							 <li><input class="input-medium search-query" id="search_input" type="text" style="border-radius: 10px"></li>
							 <li><button type="submit" class="btn" id="search_button">回复</button></li>
							 </ul>
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-961638" href="#accordion-element-144713">
						 <div class="card_frame">
							<ul class="list-inline"> 
							 <li class="card_img"><img src={% static "images/black_shop.jpg"%}></li>
							 <li class="card_username"><div class="text">证件远</div></li>
							 <li><div calss="card_title"><div class="card_title2">我想要应！！！！！！</div></div></li>
							 <li><div class="card_xuanshang"><div class="text">10yb</div></div></li>
							 </ul>
							 </div>
						 </a>
					</div>
					<div id="accordion-element-144713" class="accordion-body collapse">
						<div class="accordion-inner">
							 <div class="yingzhe_frame">
							<ul class="list-inline"> 
							 <li class="yingzhe_img"><img src={% static "images/yellow_shop.jpg"%}></li>
							 <li class="yingzhe_username"><div class="text">证件远</div></li>
							 <li><div calss="yingzhe_respond"><div class="card_title2">我想要应！！！！！！</div></div></li>
							 </ul>
							 </div>
							  <div class="yingzhe_frame">
							<ul class="list-inline"> 
							 <li class="yingzhe_img"><img src={% static "images/yellow_shop.jpg"%}></li>
							 <li class="yingzhe_username"><div class="text">证件远</div></li>
							 <li><div calss="yingzhe_respond"><div class="card_title2">我想要应！！！！！！</div></div></li>
							 </ul>
							 </div>
							  <div class="yingzhe_frame">
							<ul class="list-inline"> 
							 <li class="yingzhe_img"><img src={% static "images/yellow_shop.jpg"%}></li>
							 <li class="yingzhe_username"><div class="text">证件远</div></li>
							 <li><div calss="yingzhe_respond"><div class="card_title2">我想要应！！！！！！</div></div></li>
							 </ul>
							 </div>
							  <div class="yingzhe_frame">
							<ul class="list-inline"> 
							 <li class="yingzhe_img"><img src={% static "images/yellow_shop.jpg"%}></li>
							 <li class="yingzhe_username"><div class="text">证件远</div></li>
							 <li><div calss="yingzhe_respond"><div class="card_title2">我想要应！！！！！！</div></div></li>
							 </ul>
							 </div>
							 <ul class="list-inline">
							 <li><input class="input-medium search-query" id="search_input" type="text" style="border-radius: 10px"></li>
							 <li><button type="submit" class="btn" id="search_button">回复</button></li>
							 </ul>
						</div>
						</div>
					</div>
				</div>
			</div>








{% endblock %}
