{% extends 'head.html' %}
{% load staticfiles %}




{% block content %}
  
	<link rel="stylesheet" href={% static "css/res.css" %}>


























<body class="login_bj" >

<div class="zhuce_body">
    <div class="zhuce_kong">
    	<div class="zc">
        	<div class="bj_bai">
            <h3>欢迎注册</h3>
       	  	  <form action="" method="get">
                <input name="" id=\'user-inputPhone\'  type="text" class="kuang_txt phone" placeholder="手机号">
                <input name="" id=\'user-inputEmail\' type="text" class="kuang_txt email" placeholder="邮箱">
                <input name="" id=\'user-inputPassword\' type="text" class="kuang_txt possword" placeholder="密码">
                <input name="" id=\'user-inputInvite\' type="text" class="kuang_txt possword" placeholder="邀请码">
                <input name="" id=\'user-inputIdCode\' type="text" class="kuang_txt yanzm" placeholder="验证码">
                <div>
   
<div class="hui_kuang">
<img src={% static "images/zc_22.jpg" %} width="92" height="35"></div>
<div class="shuaxin"><a href="#"><img src={% static "images/zc_25.jpg" %} width="13" height="14"></a></div>
                </div>

                <div>
<input name="" id=\'user-agree\' type="checkbox" value=""><span>已阅读并同意<a href="#" target="_blank"><span class="lan">《XXXXX使用协议》</span></a></span>
                </div>
                <input name="注册" id=\'user-res\' type="button" class="btn_zhuce" value="注册">
                
                </form>
            </div>
        	
        </div>
    </div>

</div>
    
{% endblock %}