{% extends 'head.html' %}
{% load staticfiles %}






{% block content %}
 <link rel="stylesheet" href={% static "css/shop.css" %}>
<div class="shop_text">
<div style="font-size:20px">
欢迎来到应城</div>
没有硬币？请进入<a class=text style="font-size:20px" href="/userpage/">用户中心</a>完成任务
</div>
<div class="shop_frame">
<ul class="list-inline">

<li>
<div class="shop_frame_content">
<img src={% static "images/black_shop.jpg" %} >
<div class="yingBi">
<div class="text" style="text-align:center;">

5应币
</div>
</div>
<botton class="shopBtn">购买</botton>
</div>
</li>


<li>
<div class="shop_frame_content">
<img src={% static "images/black_shop.jpg" %} >
<div class="yingBi">
<div class="text" style="text-align:center;">

5应币
</div>
</div>
<botton class="shopBtn">购买</botton>
</div>
</li>




<li>
<div class="shop_frame_content">
<img src={% static "images/black_shop.jpg" %}>
<div class="yingBi">
<div class="text" style="text-align:center;">

5应币
</div>
</div>
<botton class="shopBtn">购买</botton>
</div>
</li>


<li>
<div class="shop_frame_content">
<img src={% static "images/black_shop.jpg" %}>
<div class="yingBi">
<div class="text" style="text-align:center;">

5应币
</div>
</div>
<botton class="shopBtn">购买</botton>
</div>
</li>


<li>
<div class="shop_frame_content">
<img src={% static "images/black_shop.jpg" %}>
<div class="yingBi">
<div class="text" style="text-align:center;">

5应币
</div>
</div>
<botton class="shopBtn">购买</botton>
</div>
</li>




<li>
<div class="shop_frame_content">
<img src={% static "images/black_shop.jpg" %}>
<div class="yingBi">
<div class="text" style="text-align:center;">

5应币
</div>
</div>
<botton class="shopBtn">购买</botton>
</div>
</li>

<li>
<div class="shop_frame_content">
<img src={% static "images/yellow_shop.jpg" %}>
<div class="yingBi">
<div class="text" style="text-align:center;">

10应币
</div>
</div>
<botton class="shopBtn">购买</botton>
</div>
</li>

<li>
<div class="shop_frame_content">
<img src={% static "images/yellow_shop.jpg" %}>
<div class="yingBi">
<div class="text" style="text-align:center;">

10应币
</div>
</div>
<botton class="shopBtn">购买</botton>
</div>
</li>

<li>
<div class="shop_frame_content">
<img src={% static "images/yellow_shop.jpg" %}>
<div class="yingBi">
<div class="text" style="text-align:center;">

10应币
</div>
</div>
<botton class="shopBtn">购买</botton>
</div>
</li>


<li>
<div class="shop_frame_content">
<img src={% static "images/yellow_shop.jpg" %}>
<div class="yingBi">
<div class="text" style="text-align:center;">

10应币
</div>
</div>
<botton class="shopBtn">购买</botton>
</div>
</li>

<li>
<div class="shop_frame_content">
<img src={% static "images/yellow_shop.jpg" %}>
<div class="yingBi">
<div class="text" style="text-align:center;">

10应币
</div>
</div>
<botton class="shopBtn">购买</botton>
</div>
</li>

<li>
<div class="shop_frame_content">
<img src={% static "images/yellow_shop.jpg" %}>
<div class="yingBi">
<div class="text" style="text-align:center;">

10应币
</div>
</div>
<botton class="shopBtn">购买</botton>
</div>
</li>

<li>
<div class="shop_frame_content">
<img src={% static "images/20180613213927.jpg" %}>
<div class="yingBi">
<div class="text" style="text-align:center;">

15应币
</div>
</div>
<botton class="shopBtn">购买</botton>
</div>
</li>

<li>
<div class="shop_frame_content">
<img src={% static "images/20180613213927.jpg" %}>
<div class="yingBi">
<div class="text" style="text-align:center;">

15应币
</div>
</div>
<botton class="shopBtn">购买</botton>
</div>
</li>

<li>
<div class="shop_frame_content">
<img src={% static "images/20180613213927.jpg" %}>
<div class="yingBi">
<div class="text" style="text-align:center;">

15应币
</div>
</div>
<botton class="shopBtn">购买</botton>
</div>
</li>

<li>
<div class="shop_frame_content">
<img src={% static "images/20180613213927.jpg" %}>
<div class="yingBi">
<div class="text" style="text-align:center;">

15应币
</div>
</div>
<botton class="shopBtn">购买</botton>
</div>
</li>

<li>
<div class="shop_frame_content">
<img src={% static "images/20180613213927.jpg" %}>
<div class="yingBi">
<div class="text" style="text-align:center;">

15应币
</div>
</div>
<botton class="shopBtn">购买</botton>
</div>
</li>

<li>
<div class="shop_frame_content">
<img src={% static "images/20180613213927.jpg" %}>
<div class="yingBi">
<div class="text" style="text-align:center;">

15应币
</div>
</div>
<botton class="shopBtn">购买</botton>
</div>
</li>


</ul>

</div>

{% endblock %}